@use "../../assets/variables" as *;
/*
  Styles for ExpenseAmount component
*/
.ExpenseAmount{
    margin-top:auto;
    // background-color: $firstColor;
    padding:$xxBigSpace;
    padding-bottom:150px;
    color:$white;
     @media screen AND (max-height:$vhMin){
        padding-bottom:$bigSpace;
        padding-inline: 0;
        padding-top:$bigSpace;

    }
    &-layout{
        box-sizing:border-box;
        position:fixed;
        bottom:$xxBigSpace;
        left:50%;
        transform:translateX(-50%);
        background-color: $bgAlphaColor;
        border-radius:$xxBigSpace;
        padding:$mediumSpace $xBigSpace;
        backdrop-filter:blur(10px);
        @media screen AND (max-height:$vhMin){
            position:static;
            transform:initial;
            width:95%;

        }
        &.noMoreCash{
            background-color: red;
        }
    }
    &-amount{
        display:flex;
        justify-content: space-between;
        margin-bottom:$space;
        &-price{
            color:$textColor;
            font-weight: bold;
            font-size:$bigSpace;
            &.cash{
                color:$white;
                font-size:$xBigSpace;
                text-shadow:5px 5px 5px  $lightAlphaGray;
            }
        }
    }
}