// Variables
$firstColor:rgb(0, 110, 255);
$firstDarkColor:rgb(3, 43, 94);
$firstLightColor:rgb(71, 151, 255);
$firstXLightColor:rgb(209, 229, 255);
$altColor:rgb(154, 0, 116);
$textColor:rgb(16, 26, 38);
$white:white;
$bgColor:rgb(9, 30, 58);
$bgAlphaColor:rgba(9, 30, 58, 0.195);
$bgLightColor:rgb(70, 81, 95);
$lightGray:rgb(108, 108, 108);
$lightAlphaGray:rgba(108, 108, 108, 0.727);
$shadow:rgba(0, 0, 0, 0.572);


$xxBigSpace: 3em;
$xBigSpace:2em;
$bigSpace: 1.6em;
$mediumSpace: 1.3em;
$space: 1em;
$smallSpace: 0.8em; 
$xSmallSpace:0.5em;
$xxSmallSpace : .3em;

$tablet:480px;
$laptop:860px;
$desktop:1200px;
$widescreen:1980px;

$vhMin:680px;