@use "./assets/variables" as *;
.Header{
    &-logo{
        margin-top:92px;
        margin-bottom:$mediumSpace;
        // background-color: red;
        margin-inline:auto;
        @media screen AND (min-width:$tablet){
            margin-top:0;            
            margin-left:0;
            margin-right : auto;
        }
    }
    padding: 1em;
    background-color: $bgColor;
    color: $white;
    @media screen AND (min-width:$tablet){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


// Main content
.Content{
    
    margin-top : $bigSpace;
    
}

.InputBox{
   
}
// Items de dépenses dynamiques
.ExpenseListItem{
   
}


// Aside
.ExpenseAmount{
   
}
